<%- include("./partials/header", {title : "Page d'accueil"}) %>

<% if (locals.connected) {%>
    <h1>Bonjour <%= locals.user.username %></h1>
    <% } else { %>
    <h1>Bonjour Inconnu</h1>
<% } %>
<%- include("./partials/footer") %>